body{
 text-align: center; 
 background-color: antiquewhite;  
}
h1{
    margin-top: 50px;
}
table{
   text-align: center;
   margin: auto;
   padding: auto;
   border-spacing: 10px;
}

/* お気に入りボタン */
.favorite-button{
    background-color: #cde9e92c;
    border: none;
    /* color: #212529; */
    /* padding: 3px 5px; */
    /* font-size: 16px; */
    cursor: pointer;
    /* border-radius: 15px; */
    transition: background-color 0.3s ease;
}

.favorite-button:hover {
    background-color: #000000;
}

.star {
    color: #0bdab7e7; /* 星の色 */
    margin-right: 2px;
    font-size: 30px;
}
